{
  "openapi": "3.1.0",
  "info": {
    "title": "Alchemy API",
    "version": "3.5.2",
    "description": "API contract for Alchemy — an AI-driven recipe creation and management platform.\nCovers the user-facing v1 API at api.cookwithalchemy.com and the admin API at admin.cookwithalchemy.com.\n"
  },
  "servers": [
    {
      "url": "https://api.cookwithalchemy.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "summary": "Health check",
        "security": [],
        "responses": {
          "200": {
            "description": "Service health",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "service",
                    "timestamp",
                    "request_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "service": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/recipes/{id}": {
      "get": {
        "summary": "Get a recipe by id",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "in": "query",
            "name": "units",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "source",
                "metric",
                "imperial"
              ]
            },
            "description": "Response projection for ingredient and inline measurement units."
          },
          {
            "in": "query",
            "name": "group_by",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "flat",
                "category",
                "component"
              ]
            },
            "description": "Optional ingredient grouping strategy for response rendering."
          },
          {
            "in": "query",
            "name": "inline_measurements",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to append inline measurements directly inside step instructions."
          }
        ],
        "responses": {
          "200": {
            "description": "Recipe",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipe"
                },
                "examples": {
                  "sourceFlat": {
                    "summary": "Source units with flat ingredient list",
                    "value": {
                      "id": "0b123456-1111-2222-3333-444455556666",
                      "title": "Weeknight Pasta",
                      "summary": "Tomato pasta with basil.",
                      "description": "A weeknight pasta that lands with the confidence of a corner trattoria classic, all bright tomatoes, olive oil, and basil in a sauce that tastes far more patient than the clock would suggest.",
                      "servings": 4,
                      "ingredients": [
                        {
                          "name": "Spaghetti",
                          "amount": 12,
                          "unit": "oz",
                          "ingredient_id": "11111111-2222-3333-4444-555555555555",
                          "normalized_status": "normalized"
                        },
                        {
                          "name": "Olive Oil",
                          "amount": 2,
                          "unit": "tbsp",
                          "ingredient_id": "aaaa1111-2222-3333-4444-555555555555",
                          "normalized_status": "normalized",
                          "category": "Pantry",
                          "component": "Sauce"
                        }
                      ],
                      "steps": [
                        {
                          "index": 1,
                          "instruction": "Boil the pasta."
                        }
                      ],
                      "visibility": "public",
                      "updated_at": "2026-03-03T12:00:00.000Z"
                    }
                  },
                  "metricComponentGrouped": {
                    "summary": "Metric units with component grouping and inline measurements",
                    "value": {
                      "id": "0b123456-1111-2222-3333-444455556666",
                      "title": "Weeknight Pasta",
                      "summary": "Tomato pasta with basil.",
                      "description": "A weeknight pasta that lands with the confidence of a corner trattoria classic, all bright tomatoes, olive oil, and basil in a sauce that tastes far more patient than the clock would suggest.",
                      "servings": 4,
                      "ingredients": [
                        {
                          "name": "Spaghetti",
                          "amount": 340,
                          "unit": "g",
                          "ingredient_id": "11111111-2222-3333-4444-555555555555",
                          "normalized_status": "normalized",
                          "component": "Pasta"
                        },
                        {
                          "name": "Tomato",
                          "amount": 400,
                          "unit": "g",
                          "ingredient_id": "bbbb1111-2222-3333-4444-555555555555",
                          "normalized_status": "normalized",
                          "component": "Sauce"
                        }
                      ],
                      "ingredient_groups": [
                        {
                          "key": "pasta",
                          "label": "Pasta",
                          "ingredients": [
                            {
                              "name": "Spaghetti",
                              "amount": 340,
                              "unit": "g",
                              "ingredient_id": "11111111-2222-3333-4444-555555555555",
                              "normalized_status": "normalized",
                              "component": "Pasta"
                            }
                          ]
                        }
                      ],
                      "steps": [
                        {
                          "index": 1,
                          "instruction": "Boil the pasta (Spaghetti: 340 g)"
                        }
                      ],
                      "visibility": "public",
                      "updated_at": "2026-03-03T12:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/recipes/{id}/history": {
      "get": {
        "summary": "Get recipe version history with causal chat/thread context",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          }
        ],
        "responses": {
          "200": {
            "description": "Recipe history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipeHistoryResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/recipes/cookbook": {
      "get": {
        "summary": "User cookbook with canonical + variant data",
        "description": "Returns the user's cookbook entries. Each entry includes canonical recipe\npreview data plus variant status. When a variant exists, the preview\nreflects the personalised version (title stays canonical, summary and\ntags come from the variant).\n",
        "responses": {
          "200": {
            "description": "Cookbook response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "cookbook_insight"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CookbookEntry"
                      }
                    },
                    "cookbook_insight": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/recipes/search": {
      "post": {
        "summary": "Search public recipes for Explore and shared retrieval",
        "description": "Canonical discovery endpoint for recipe search and Explore feed pagination.\nWhen both `query` and `preset_id` are omitted or blank, this returns the Explore feed using the same cursor-backed search session infrastructure.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipeSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipeSearchResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/recipes/{id}/save": {
      "post": {
        "summary": "Save a canonical recipe to cookbook and optionally trigger variant materialisation",
        "description": "Creates a cookbook_entries row for the canonical recipe. If autopersonalize\nis true (default) and the user has relevant constraint preferences, queues\nasync variant materialisation. Returns the cookbook entry state.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveRecipeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cookbook entry state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveRecipeResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/telemetry/behavior": {
      "post": {
        "summary": "Ingest first-party product behavior telemetry",
        "description": "Batched client-side telemetry sink for Explore, Chat, Cookbook, and\nrecipe detail behavior events. Events are append-only and validated\nagainst the canonical event catalog.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BehaviorTelemetryBatchRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Batch accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BehaviorTelemetryBatchResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "delete": {
        "summary": "Remove recipe from cookbook",
        "description": "Deletes the cookbook entry and associated variant data for this recipe.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          }
        ],
        "responses": {
          "200": {
            "description": "Save status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "saved"
                  ],
                  "properties": {
                    "saved": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/recipes/{id}/attachments": {
      "post": {
        "summary": "Create and attach a child recipe (side/appetizer/etc)",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAttachmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Parent recipe with updated attachments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "recipe",
                    "attachment_id"
                  ],
                  "properties": {
                    "recipe": {
                      "$ref": "#/components/schemas/Recipe"
                    },
                    "attachment_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/recipes/{id}/attachments/{attachment_id}": {
      "patch": {
        "summary": "Update attachment position or relation type",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "in": "path",
            "name": "attachment_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAttachmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Parent recipe with updated attachments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "recipe"
                  ],
                  "properties": {
                    "recipe": {
                      "$ref": "#/components/schemas/Recipe"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "delete": {
        "summary": "Remove attachment link",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "in": "path",
            "name": "attachment_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Parent recipe with updated attachments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "recipe"
                  ],
                  "properties": {
                    "recipe": {
                      "$ref": "#/components/schemas/Recipe"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/recipes/{id}/variant": {
      "get": {
        "summary": "Get the user's personalised variant for a canonical recipe",
        "description": "Returns the user's private variant of a canonical recipe, including the\npersonalised payload, adaptation summary, tag diff, and provenance data.\nReturns 404 if the user has no variant for this recipe.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "in": "query",
            "name": "units",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "source",
                "metric",
                "imperial"
              ]
            }
          },
          {
            "in": "query",
            "name": "group_by",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "flat",
                "category",
                "component"
              ]
            }
          },
          {
            "in": "query",
            "name": "inline_measurements",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Personalised variant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipeVariant"
                }
              }
            }
          },
          "404": {
            "description": "No variant exists for this user and recipe",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/recipes/{id}/variant/refresh": {
      "post": {
        "summary": "Create or refresh the user's variant for a canonical recipe",
        "description": "Materialises (or re-materialises) the user's private variant from the\ncanonical recipe base plus the user's current preference profile. If the\nvariant has manual edits, attempts to reapply them after re-personalisation.\nIf reapplication conflicts, returns variant with status needs_review.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          }
        ],
        "responses": {
          "200": {
            "description": "Variant materialisation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VariantRefreshResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/recipes/{id}/publish": {
      "post": {
        "summary": "Publish a private variant as a new canonical recipe",
        "description": "Creates a new canonical recipe lineage from the user's private variant.\nThe new canonical has a derived_from graph edge to the original. The\nvariant remains in the user's cookbook unchanged.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Optional new title for the published recipe. If omitted, uses the original canonical title."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New canonical recipe",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "recipe_id",
                    "recipe_version_id",
                    "title"
                  ],
                  "properties": {
                    "recipe_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "recipe_version_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "title": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/collections": {
      "get": {
        "summary": "List user collections",
        "responses": {
          "200": {
            "description": "Collections",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Collection"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Create collection",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created collection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/collections/{id}/items": {
      "post": {
        "summary": "Add recipe to collection",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "recipe_id"
                ],
                "properties": {
                  "recipe_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item add status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/preferences": {
      "get": {
        "summary": "Get user preferences",
        "responses": {
          "200": {
            "description": "Preferences",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreferenceProfile"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "patch": {
        "summary": "Update user preferences",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreferenceProfile"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated preferences",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreferenceProfile"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/onboarding/state": {
      "get": {
        "summary": "Get onboarding completion state for authenticated user",
        "responses": {
          "200": {
            "description": "Onboarding state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingState"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/onboarding/chat": {
      "post": {
        "summary": "Continue onboarding interview and persist preference updates",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnboardingChatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Onboarding assistant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingChatResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/memories": {
      "get": {
        "summary": "Get active user memories and snapshot",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Memory response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryListResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/memories/forget": {
      "post": {
        "summary": "Soft-delete a specific memory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "memory_id"
                ],
                "properties": {
                  "memory_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Forget status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/memories/reset": {
      "post": {
        "summary": "Reset all user memories",
        "responses": {
          "200": {
            "description": "Reset status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/changelog": {
      "get": {
        "summary": "User-scoped changelog timeline",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Changelog response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangelogResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/image-jobs/process": {
      "post": {
        "summary": "Process pending image jobs for authenticated user",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processing summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "processed",
                    "ready",
                    "failed",
                    "pending"
                  ],
                  "properties": {
                    "processed": {
                      "type": "integer"
                    },
                    "ready": {
                      "type": "integer"
                    },
                    "failed": {
                      "type": "integer"
                    },
                    "pending": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/image-simulations/compare": {
      "post": {
        "summary": "Run an ephemeral two-lane image simulation compare",
        "parameters": [
          {
            "in": "query",
            "name": "stream",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1
              ]
            },
            "description": "When set to `1`, returns `application/x-ndjson` stream events as each lane completes,\nfollowed by a final `result` event. Omit for the normal JSON response.\n"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageSimulationCompareRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image simulation compare response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageSimulationCompareResponse"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "streamed_compare": {
                    "value": "{\"type\":\"compare_started\",\"request_id\":\"req_123\"}\n{\"type\":\"lane_completed\",\"lane\":\"B\"}\n{\"type\":\"lane_completed\",\"lane\":\"A\"}\n{\"type\":\"judge_completed\"}\n{\"type\":\"result\",\"payload\":{\"request_id\":\"req_123\",\"completed\":true}}\n"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/metadata-jobs/process": {
      "post": {
        "summary": "Process due recipe metadata jobs (internal authenticated scope)",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 50
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metadata queue processing summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataJobsProcessResponse"
                },
                "examples": {
                  "processed": {
                    "value": {
                      "reaped": 1,
                      "claimed": 5,
                      "processed": 5,
                      "ready": 4,
                      "failed": 0,
                      "pending": 1,
                      "queue": {
                        "pending": 3,
                        "processing": 0,
                        "ready": 12,
                        "failed": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/metadata-jobs/retry": {
      "post": {
        "summary": "Re-queue a metadata job safely (internal authenticated scope)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "job_id"
                ],
                "properties": {
                  "job_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retry status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "job"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "job": {
                      "type": "object",
                      "required": [
                        "id",
                        "status",
                        "attempts",
                        "next_attempt_at"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending",
                            "processing",
                            "ready",
                            "failed"
                          ]
                        },
                        "attempts": {
                          "type": "integer"
                        },
                        "next_attempt_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/metadata-jobs/recompute": {
      "post": {
        "summary": "Recompute metadata for a recipe or recipe version (internal authenticated scope)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recipe_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "recipe_version_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recompute enqueue status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "recipe_id",
                    "recipe_version_id"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "recipe_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "recipe_version_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/metadata-jobs/recompute-scope": {
      "post": {
        "summary": "Recompute metadata for a targeted scope (internal authenticated scope)",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recipe_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "recipe_version_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "leaked_only": {
                    "type": "boolean",
                    "description": "Limit scope to leaked rows (`needs_retry` + `ingredient_id IS NOT NULL`)."
                  },
                  "current_versions_only": {
                    "type": "boolean",
                    "description": "Restrict scope to current recipe versions."
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 500
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recompute-scope enqueue status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "enqueued",
                    "recipe_version_ids"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "enqueued": {
                      "type": "integer"
                    },
                    "recipe_version_ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "note": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/memory-jobs/process": {
      "post": {
        "summary": "Process due memory extraction jobs (internal authenticated scope)",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Memory queue processing summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryJobsProcessResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/memory-jobs/retry": {
      "post": {
        "summary": "Re-queue a memory job safely (internal authenticated scope)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "job_id"
                ],
                "properties": {
                  "job_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retry status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "job"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "job": {
                      "type": "object",
                      "required": [
                        "id",
                        "status",
                        "attempts",
                        "next_attempt_at"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending",
                            "processing",
                            "ready",
                            "failed"
                          ]
                        },
                        "attempts": {
                          "type": "integer"
                        },
                        "next_attempt_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/chat/import": {
      "post": {
        "summary": "Import a recipe from a URL, pasted text, or cookbook photo",
        "description": "Accepts a recipe source and returns a seeded ChatSession with a\nCandidateRecipeSet, ready for the standard Generate flow (iterate\nvia POST /chat/{id}/messages, commit via POST /chat/{id}/commit).\n\nImages are always re-generated — source images are never stored.\nThe first draft is a source-faithful rewrite in Alchemy wording.\n\nSupports fingerprint-based dedup: re-importing the same URL or\ntext returns the existing chat session if one was already created.\n",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportRequest"
              },
              "examples": {
                "url": {
                  "summary": "Import from a recipe URL",
                  "value": {
                    "kind": "url",
                    "url": "https://www.allrecipes.com/recipe/158968/spinach-and-feta-turkey-burgers/",
                    "origin": "in_app_paste"
                  }
                },
                "text": {
                  "summary": "Import from pasted text",
                  "value": {
                    "kind": "text",
                    "text": "Classic Margherita Pizza\n\nIngredients:\n- 1 pizza dough\n- 1/2 cup tomato sauce\n- 8 oz fresh mozzarella\n- Fresh basil leaves\n- 2 tbsp olive oil\n\nInstructions:\n1. Preheat oven to 500°F\n2. Stretch dough on floured surface\n3. Spread sauce, add torn mozzarella\n4. Bake 10-12 minutes until crust is golden\n5. Top with fresh basil and drizzle olive oil",
                    "origin": "in_app_paste"
                  }
                },
                "photo": {
                  "summary": "Import from a cookbook page photo",
                  "value": {
                    "kind": "photo",
                    "photo_asset_ref": "imports/abc123/cookbook-page.jpg",
                    "origin": "share_extension"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Import successful — chat session seeded with recipe candidate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatSession"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/chat": {
      "post": {
        "summary": "Start a new chat session",
        "parameters": [
          {
            "$ref": "#/components/parameters/SimModelOverrides"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatSession"
                },
                "examples": {
                  "ideation": {
                    "summary": "Ideation response without candidate set",
                    "value": {
                      "id": "e3fa8890-1111-2222-3333-444455556666",
                      "loop_state": "ideation",
                      "assistant_reply": {
                        "text": "Do you want this to be creamy or tomato-forward?"
                      },
                      "response_context": {
                        "intent": "in_scope_ideation",
                        "mode": "ideation"
                      },
                      "messages": [],
                      "candidate_recipe_set": null,
                      "memory_context_ids": [
                        "f2f3a1f0-1111-2222-3333-444455556666"
                      ],
                      "context_version": 2
                    }
                  },
                  "outOfScope": {
                    "summary": "Out-of-scope ask is refused and redirected to cooking",
                    "value": {
                      "id": "e3fa8890-1111-2222-3333-444455556666",
                      "loop_state": "ideation",
                      "assistant_reply": {
                        "text": "I can’t help with that here. I can help with recipes or cooking techniques."
                      },
                      "response_context": {
                        "intent": "out_of_scope",
                        "mode": "ideation"
                      },
                      "messages": [],
                      "candidate_recipe_set": null,
                      "memory_context_ids": [],
                      "context_version": 2
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/chat/{id}": {
      "get": {
        "summary": "Get chat session thread",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chat session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatSession"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/chat/{id}/messages": {
      "post": {
        "summary": "Add a message to chat session thread",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/SimModelOverrides"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated chat session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatSession"
                },
                "examples": {
                  "triggeredGeneration": {
                    "summary": "Assistant triggered candidate recipe set",
                    "value": {
                      "id": "e3fa8890-1111-2222-3333-444455556666",
                      "loop_state": "candidate_presented",
                      "assistant_reply": {
                        "text": "Here are two options to start from."
                      },
                      "response_context": {
                        "intent": "in_scope_generate",
                        "mode": "generation"
                      },
                      "candidate_recipe_set": {
                        "candidate_id": "8f32d780-1111-2222-3333-444455556666",
                        "revision": 1,
                        "active_component_id": "component-main",
                        "components": [
                          {
                            "component_id": "component-main",
                            "role": "main",
                            "title": "Spicy Chicken Parm",
                            "image_url": null,
                            "image_status": "pending",
                            "recipe": {
                              "title": "Spicy Chicken Parm",
                              "summary": "Spicy chicken parm with crisp edges.",
                              "description": "This chicken parm arrives with the swagger of a red-sauce darling and just enough chile to keep the whole affair from getting too comfortable. It is crunchy, saucy, and unapologetically dramatic in the best possible way.",
                              "servings": 2,
                              "ingredients": [],
                              "steps": []
                            }
                          },
                          {
                            "component_id": "component-side",
                            "role": "side",
                            "title": "Garlicky Broccolini",
                            "image_url": "https://cdn.cookwithalchemy.com/images/garlicky-broccolini.jpg",
                            "image_status": "ready",
                            "recipe": {
                              "title": "Garlicky Broccolini",
                              "summary": "Garlicky broccolini with lemon.",
                              "description": "The broccolini comes in all snap and sparkle, charred at the edges and lifted with enough garlic and lemon to feel like more than a side dish afterthought.",
                              "servings": 2,
                              "ingredients": [],
                              "steps": []
                            }
                          }
                        ]
                      },
                      "messages": [],
                      "memory_context_ids": [],
                      "context_version": 2,
                      "ui_hints": {
                        "show_generation_animation": true,
                        "focus_component_id": "component-main"
                      }
                    }
                  },
                  "iterate": {
                    "summary": "Candidate set updated after tweak",
                    "value": {
                      "id": "e3fa8890-1111-2222-3333-444455556666",
                      "loop_state": "candidate_presented",
                      "assistant_reply": {
                        "text": "Updated with a lighter breading and shorter timing."
                      },
                      "response_context": {
                        "intent": "in_scope_generate",
                        "mode": "iteration"
                      },
                      "candidate_recipe_set": {
                        "candidate_id": "8f32d780-1111-2222-3333-444455556666",
                        "revision": 2,
                        "active_component_id": "component-main",
                        "components": [
                          {
                            "component_id": "component-main",
                            "role": "main",
                            "title": "Lighter Spicy Chicken Parm",
                            "image_url": null,
                            "image_status": "processing",
                            "recipe": {
                              "title": "Lighter Spicy Chicken Parm",
                              "summary": "Lighter chicken parm with chile.",
                              "description": "The lighter version keeps the sauce-slick charm of chicken parm but trades heft for a sharper, brisker kind of pleasure, the sort of plate that feels lively rather than leaden.",
                              "servings": 2,
                              "ingredients": [],
                              "steps": []
                            }
                          }
                        ]
                      },
                      "messages": [],
                      "memory_context_ids": [],
                      "context_version": 2
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "generationMissingCandidate": {
                    "summary": "Trigger said generate but no candidate was returned",
                    "value": {
                      "code": "chat_generation_missing_candidate",
                      "message": "Generation trigger did not produce a candidate recipe set",
                      "request_id": "7b8d4f00-1111-2222-3333-444455556666"
                    }
                  },
                  "invalidJson": {
                    "summary": "Model returned invalid JSON in generation scope",
                    "value": {
                      "code": "llm_invalid_json",
                      "message": "LLM output is not valid JSON",
                      "details": "{ \"assistant_reply\": { \"text\": \"...\" }",
                      "request_id": "1cb9f9dd-1111-2222-3333-444455556666"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/chat/{id}/candidate": {
      "patch": {
        "summary": "Mutate ephemeral candidate recipe set state for a chat session",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/SimModelOverrides"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCandidateRequest"
              },
              "examples": {
                "setActiveComponent": {
                  "summary": "Set active tab",
                  "value": {
                    "action": "set_active_component",
                    "component_id": "component-side"
                  }
                },
                "deleteComponent": {
                  "summary": "Remove an extra tab before commit",
                  "value": {
                    "action": "delete_component",
                    "component_id": "component-side"
                  }
                },
                "clearCandidate": {
                  "summary": "Clear candidate set and return to ideation mode",
                  "value": {
                    "action": "clear_candidate"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated chat session candidate set",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCandidateResponse"
                },
                "examples": {
                  "candidateUpdated": {
                    "summary": "Candidate still present",
                    "value": {
                      "id": "e3fa8890-1111-2222-3333-444455556666",
                      "loop_state": "candidate_presented",
                      "assistant_reply": {
                        "text": "Updated the active tab."
                      },
                      "candidate_recipe_set": {
                        "candidate_id": "8f32d780-1111-2222-3333-444455556666",
                        "revision": 3,
                        "active_component_id": "component-side",
                        "components": [
                          {
                            "component_id": "component-main",
                            "role": "main",
                            "title": "Lighter Spicy Chicken Parm",
                            "image_url": "https://cdn.cookwithalchemy.com/images/lighter-spicy-chicken-parm.jpg",
                            "image_status": "ready",
                            "recipe": {
                              "title": "Lighter Spicy Chicken Parm",
                              "servings": 2,
                              "ingredients": [],
                              "steps": []
                            }
                          },
                          {
                            "component_id": "component-side",
                            "role": "side",
                            "title": "Garlicky Broccolini",
                            "image_url": "https://cdn.cookwithalchemy.com/images/garlicky-broccolini.jpg",
                            "image_status": "ready",
                            "recipe": {
                              "title": "Garlicky Broccolini",
                              "servings": 2,
                              "ingredients": [],
                              "steps": []
                            }
                          }
                        ]
                      },
                      "messages": [],
                      "memory_context_ids": [],
                      "context_version": 2,
                      "ui_hints": {
                        "focus_component_id": "component-side"
                      }
                    }
                  },
                  "candidateCleared": {
                    "summary": "Candidate cleared, back to ideation",
                    "value": {
                      "id": "e3fa8890-1111-2222-3333-444455556666",
                      "loop_state": "ideation",
                      "assistant_reply": {
                        "text": "Ready for a fresh start."
                      },
                      "candidate_recipe_set": null,
                      "messages": [],
                      "memory_context_ids": [],
                      "context_version": 2
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/chat/{id}/commit": {
      "post": {
        "summary": "Persist all remaining candidate components to cookbook",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/SimModelOverrides"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommitChatRecipesRequest"
              },
              "examples": {
                "default": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Candidate components committed and linked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitChatRecipesResponse"
                },
                "examples": {
                  "commit": {
                    "value": {
                      "id": "e3fa8890-1111-2222-3333-444455556666",
                      "loop_state": "ideation",
                      "candidate_recipe_set": null,
                      "assistant_reply": {
                        "text": "Saved all recipes to your cookbook."
                      },
                      "messages": [],
                      "memory_context_ids": [],
                      "context_version": 2,
                      "commit": {
                        "candidate_id": "8f32d780-1111-2222-3333-444455556666",
                        "revision": 2,
                        "committed_count": 2,
                        "recipes": [
                          {
                            "component_id": "component-main",
                            "role": "main",
                            "title": "Lighter Spicy Chicken Parm",
                            "recipe_id": "64f2b410-1111-2222-3333-444455556666",
                            "recipe_version_id": "3c25b8e1-1111-2222-3333-444455556666"
                          },
                          {
                            "component_id": "component-side",
                            "role": "side",
                            "title": "Garlicky Broccolini",
                            "recipe_id": "d76cbf20-1111-2222-3333-444455556666",
                            "recipe_version_id": "f59a98f0-1111-2222-3333-444455556666"
                          }
                        ],
                        "links": [
                          {
                            "id": "1a2b3c4d-1111-2222-3333-444455556666",
                            "parent_recipe_id": "64f2b410-1111-2222-3333-444455556666",
                            "child_recipe_id": "d76cbf20-1111-2222-3333-444455556666",
                            "relation_type": "is_side_of",
                            "position": 1
                          }
                        ],
                        "post_save_options": [
                          "continue_chat",
                          "restart_chat",
                          "go_to_cookbook"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/recipes/{id}/categories/override": {
      "post": {
        "summary": "Add a user category override",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "category"
                ],
                "properties": {
                  "category": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Override status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/recipes/{id}/categories/override/{category}": {
      "delete": {
        "summary": "Remove category override",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "in": "path",
            "name": "category",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Remove status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/recipes/{id}/graph": {
      "get": {
        "summary": "Fetch graph entities and edges related to a recipe",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "in": "query",
            "name": "min_confidence",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1
            }
          },
          {
            "in": "query",
            "name": "relation_types",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated relation types filter"
          },
          {
            "in": "query",
            "name": "entity_types",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated entity types filter"
          },
          {
            "in": "query",
            "name": "depth",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recipe graph",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "entities",
                    "edges"
                  ],
                  "properties": {
                    "entities": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GraphEntity"
                      }
                    },
                    "edges": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GraphEdge"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/ingredients/{id}/graph": {
      "get": {
        "summary": "Fetch graph entities and edges related to an ingredient",
        "parameters": [
          {
            "$ref": "#/components/parameters/IngredientId"
          },
          {
            "in": "query",
            "name": "min_confidence",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1
            }
          },
          {
            "in": "query",
            "name": "relation_types",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated relation types filter"
          },
          {
            "in": "query",
            "name": "entity_types",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated entity types filter"
          },
          {
            "in": "query",
            "name": "depth",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ingredient graph",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "entities",
                    "edges"
                  ],
                  "properties": {
                    "entities": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GraphEntity"
                      }
                    },
                    "edges": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GraphEdge"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/ingredients/trending": {
      "get": {
        "summary": "Get trending ingredients by popularity or substitution momentum",
        "parameters": [
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "trending",
                "momentum"
              ],
              "default": "trending"
            },
            "description": "Sort mode. \"trending\" ranks by recipe-derived popularity,\n\"momentum\" ranks by substitution velocity (ingredients being swapped in/out).\n"
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trending ingredients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IngredientTrendingStat"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/popularity/refresh": {
      "post": {
        "summary": "Refresh recipe popularity scores and ingredient trending stats",
        "description": "Admin batch job that recomputes all recipe popularity scores\n(save_count, variant_count, view_count, popularity_score, trending_score)\nand ingredient trending stats (recipe-derived popularity + substitution momentum).\n",
        "responses": {
          "200": {
            "description": "Refresh result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "recipes_updated",
                    "ingredients_updated",
                    "computed_at"
                  ],
                  "properties": {
                    "recipes_updated": {
                      "type": "integer"
                    },
                    "ingredients_updated": {
                      "type": "integer"
                    },
                    "computed_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "RecipeId": {
        "in": "path",
        "name": "id",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "IngredientId": {
        "in": "path",
        "name": "id",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "SimModelOverrides": {
        "in": "header",
        "name": "x-sim-model-overrides",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Optional JSON string used by Admin Simulation Runner to override model/provider per scope.\nFormat:\n{\n  \"chat_ideation\":{\"provider\":\"anthropic\",\"model\":\"claude-3-5-haiku-latest\"},\n  \"ingredient_enrich\":{\"provider\":\"openai\",\"model\":\"gpt-5-mini\"}\n}\nCommon scope keys:\nchat_ideation, chat_generation, chat_iteration, classify,\ningredient_alias_normalize, ingredient_phrase_split, ingredient_enrich,\nrecipe_metadata_enrich, ingredient_relation_infer, preference_normalize, equipment_filter,\nonboarding, image, image_quality_eval, memory_extract, memory_select, memory_summarize, memory_conflict_resolve.\nNot required for normal mobile clients.\n"
      }
    },
    "responses": {
      "ErrorResponse": {
        "description": "Error envelope",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      }
    },
    "schemas": {
      "ImportRequest": {
        "description": "Discriminated union for recipe import sources. Exactly one of\nurl/text/photo_asset_ref must be provided, matching the kind field.\n",
        "oneOf": [
          {
            "$ref": "#/components/schemas/ImportUrlRequest"
          },
          {
            "$ref": "#/components/schemas/ImportTextRequest"
          },
          {
            "$ref": "#/components/schemas/ImportPhotoRequest"
          }
        ],
        "discriminator": {
          "propertyName": "kind",
          "mapping": {
            "url": "#/components/schemas/ImportUrlRequest",
            "text": "#/components/schemas/ImportTextRequest",
            "photo": "#/components/schemas/ImportPhotoRequest"
          }
        }
      },
      "ImportUrlRequest": {
        "type": "object",
        "required": [
          "kind",
          "url"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "url"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Recipe page URL to scrape"
          },
          "origin": {
            "type": "string",
            "description": "Provenance label (e.g. \"in_app_paste\", \"safari_share\", \"share_extension\")"
          }
        }
      },
      "ImportTextRequest": {
        "type": "object",
        "required": [
          "kind",
          "text"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "text"
            ]
          },
          "text": {
            "type": "string",
            "maxLength": 50000,
            "description": "Pasted recipe text"
          },
          "origin": {
            "type": "string",
            "description": "Provenance label"
          }
        }
      },
      "ImportPhotoRequest": {
        "type": "object",
        "required": [
          "kind",
          "photo_asset_ref"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "photo"
            ]
          },
          "photo_asset_ref": {
            "type": "string",
            "description": "Storage reference for the uploaded cookbook page photo"
          },
          "origin": {
            "type": "string",
            "description": "Provenance label"
          }
        }
      },
      "LlmScope": {
        "type": "string",
        "description": "Internal LLM pipeline scope key used for prompt/rule/model routing.",
        "enum": [
          "chat_ideation",
          "chat_generation",
          "chat_iteration",
          "generate",
          "classify",
          "ingredient_alias_normalize",
          "ingredient_phrase_split",
          "ingredient_enrich",
          "recipe_metadata_enrich",
          "ingredient_relation_infer",
          "preference_normalize",
          "equipment_filter",
          "onboarding",
          "image",
          "image_quality_eval",
          "memory_extract",
          "memory_select",
          "memory_summarize",
          "memory_conflict_resolve",
          "recipe_canonicalize",
          "recipe_personalize"
        ]
      },
      "ErrorEnvelope": {
        "type": "object",
        "required": [
          "code",
          "message",
          "request_id"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {},
          "request_id": {
            "type": "string"
          }
        }
      },
      "Ingredient": {
        "type": "object",
        "required": [
          "name",
          "amount",
          "unit"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "unit": {
            "type": "string"
          },
          "preparation": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "ingredient_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "normalized_status": {
            "type": "string",
            "enum": [
              "normalized",
              "needs_retry"
            ]
          },
          "component": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "IngredientGroup": {
        "type": "object",
        "required": [
          "key",
          "label",
          "ingredients"
        ],
        "properties": {
          "key": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "ingredients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ingredient"
            }
          }
        }
      },
      "InlineMeasurement": {
        "type": "object",
        "required": [
          "ingredient",
          "amount",
          "unit"
        ],
        "properties": {
          "ingredient": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "unit": {
            "type": "string"
          }
        }
      },
      "Step": {
        "type": "object",
        "required": [
          "index",
          "instruction"
        ],
        "properties": {
          "index": {
            "type": "integer"
          },
          "instruction": {
            "type": "string"
          },
          "timer_seconds": {
            "type": "integer"
          },
          "notes": {
            "type": "string"
          },
          "inline_measurements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InlineMeasurement"
            }
          }
        }
      },
      "Nutrition": {
        "type": "object",
        "properties": {
          "calories": {
            "type": "number"
          },
          "protein_g": {
            "type": "number"
          },
          "carbs_g": {
            "type": "number"
          },
          "fat_g": {
            "type": "number"
          },
          "fiber_g": {
            "type": "number"
          },
          "sugar_g": {
            "type": "number"
          },
          "sodium_mg": {
            "type": "number"
          }
        }
      },
      "RecipeMetadata": {
        "type": "object",
        "properties": {
          "metadata_schema_version": {
            "type": "integer"
          },
          "vibe": {
            "type": "string"
          },
          "flavor_profile": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "flavor_axes": {
            "type": "object",
            "properties": {
              "sweet": {
                "type": "number"
              },
              "salty": {
                "type": "number"
              },
              "sour": {
                "type": "number"
              },
              "bitter": {
                "type": "number"
              },
              "umami": {
                "type": "number"
              },
              "fatty": {
                "type": "number"
              }
            }
          },
          "spice_level": {
            "type": "string"
          },
          "nutrition": {
            "$ref": "#/components/schemas/Nutrition"
          },
          "difficulty": {
            "type": "string",
            "enum": [
              "easy",
              "medium",
              "complex"
            ]
          },
          "skill_level": {
            "type": "string"
          },
          "complexity_score": {
            "type": "number"
          },
          "health_score": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "time_minutes": {
            "type": "integer",
            "minimum": 1
          },
          "items": {
            "type": "integer",
            "minimum": 1
          },
          "quick_stats": {
            "$ref": "#/components/schemas/RecipeQuickStats"
          },
          "allergens": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allergen_flags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "diet_tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "health_flags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "substitutions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string"
                },
                "to": {
                  "type": "string"
                },
                "note": {
                  "type": "string"
                }
              }
            }
          },
          "timing": {
            "type": "object",
            "properties": {
              "prep_minutes": {
                "type": "integer"
              },
              "cook_minutes": {
                "type": "integer"
              },
              "total_minutes": {
                "type": "integer"
              }
            }
          },
          "cuisine_tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "occasion_tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "cuisine": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "course_type": {
            "type": "string"
          },
          "seasonality": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "techniques": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "equipment": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "pairing_rationale": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "serving_notes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "storage_reheat_profile": {
            "type": "object",
            "properties": {
              "storage": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "reheat": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "practical": {
            "type": "object",
            "properties": {
              "cost_tier": {
                "type": "string"
              },
              "meal_prep_friendly": {
                "type": "boolean"
              }
            }
          },
          "additionalProperties": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "RecipePayloadAttachment": {
        "type": "object",
        "required": [
          "title",
          "relation_type",
          "recipe"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "relation_type": {
            "type": "string"
          },
          "recipe": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "RecipePayload": {
        "type": "object",
        "required": [
          "title",
          "servings",
          "ingredients",
          "steps"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "summary": {
            "type": "string",
            "description": "Short preview/share blurb used in cards, search, and share text."
          },
          "description": {
            "type": "string",
            "description": "Long-form editorial detail copy shown on recipe detail surfaces."
          },
          "servings": {
            "type": "integer"
          },
          "ingredients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ingredient"
            }
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Step"
            }
          },
          "notes": {
            "type": "string"
          },
          "pairings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "emoji": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/RecipeMetadata"
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecipePayloadAttachment"
            }
          }
        }
      },
      "RecipeAttachment": {
        "type": "object",
        "required": [
          "attachment_id",
          "relation_type",
          "position",
          "recipe"
        ],
        "properties": {
          "attachment_id": {
            "type": "string",
            "format": "uuid"
          },
          "relation_type": {
            "type": "string"
          },
          "position": {
            "type": "integer"
          },
          "recipe": {
            "$ref": "#/components/schemas/Recipe"
          }
        }
      },
      "Recipe": {
        "type": "object",
        "required": [
          "id",
          "title",
          "servings",
          "ingredients",
          "steps",
          "updated_at",
          "visibility"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "description": "Long-form editorial detail copy shown on recipe detail surfaces."
          },
          "summary": {
            "type": "string",
            "description": "Short preview/share blurb used in cards, search, and share text."
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "image_status": {
            "type": "string",
            "enum": [
              "pending",
              "ready",
              "failed"
            ]
          },
          "servings": {
            "type": "integer"
          },
          "ingredients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ingredient"
            }
          },
          "ingredient_groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IngredientGroup"
            }
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Step"
            }
          },
          "notes": {
            "type": "string"
          },
          "pairings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "emoji": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/RecipeMetadata"
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecipeAttachment"
            }
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ]
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "$ref": "#/components/schemas/RecipeVersion"
          }
        }
      },
      "RecipeQuickStats": {
        "type": "object",
        "required": [
          "time_minutes",
          "difficulty",
          "health_score",
          "items"
        ],
        "properties": {
          "time_minutes": {
            "type": "integer",
            "minimum": 1
          },
          "difficulty": {
            "type": "string",
            "enum": [
              "easy",
              "medium",
              "complex"
            ]
          },
          "health_score": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "items": {
            "type": "integer",
            "minimum": 1
          }
        }
      },
      "RecipePreview": {
        "type": "object",
        "required": [
          "id",
          "title",
          "summary",
          "image_url",
          "image_status",
          "category",
          "visibility",
          "updated_at",
          "quick_stats"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "image_status": {
            "type": "string",
            "enum": [
              "pending",
              "ready",
              "failed"
            ]
          },
          "category": {
            "type": "string"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ]
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "quick_stats": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/RecipeQuickStats"
              },
              {
                "type": "null"
              }
            ]
          },
          "save_count": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of users who saved this recipe. Only present in search/explore responses when > 0."
          },
[...]
